extends ../layout

block content
  .container
    h1 Register
    p You're almost there! Please fill out the form below to complete your registration.
    form(method='POST', action='/register')
      .form-group
        label(for='username') Username
        input#username.form-control(type='text', name='username', placeholder='Enter username')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Enter password')
      .form-group
        label(for='confirmPassword') Confirm Password
        input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm password')
      button.btn.btn-primary(type='submit') Register
      a.btn.btn-secondary(href='/login') Cancel
      
